*~
*.beam
deps/
ebin/
log/
_rel/
_build/
temp/*
!temp/.keep
cover/
.erlang.mk/
dumps/
Mnesia*/
*.dump
erl_crash.dump
.erlang.mk.packages.v2
erl_crash.dump
relx
ttb_last_config
rebar.lock
test/ct.cover.spec
.DS_Store
*.plt
doc/*
eunit.coverdata
cs_challenge.d
recompile.log
